<%- include('partials/header') %>

<style>

</style>

<body>
  
  <div class="text-box">
    <span class="htb-title">About Us</span>
    <p>This team of Computer Science majors was formed to complete the main project for our Software Development
      Methods and Tools class at the University of Colorado Boulder. In an effort to increase our knowledge about each
      step during software development, this class assigned each team the job of creating a website or other similar
      application.&nbsp; Our choice of a Battleship/Trivia game was inspired by reminiscence of days spent playing
      Battleship when we were younger along with a drive to innovate.</p>
    <p>We hope you enjoy this game as much as we do.</p>
    
    <h2 class="font-lg">Contributors</h2>

    <div class="container">
      <a href="https://github.com/anmo4276" class="btn htb-button mb-2">Andres Montealegre</a>
      <a href="https://github.com/davycrockett92" class="btn htb-button mb-2">David Crockett</a>
      <a href="https://github.com/kaischuygon" class="btn htb-button mb-2">Kai Schuyler Gonzalez</a>
      <a href="https://github.com/MatthewRuizDiaz" class="btn htb-button mb-2">Matthew Ruiz Diaz</a>
      <a href="https://github.com/sapa3451" class="btn htb-button mb-2">Salvatore Pacifico</a>
    </div>
  </div>
</body>
<%- include('partials/footer') %>