<%- include('partials/header') %>

<body>
  <div class="text-box">
    <h1 class="htb-title">Game over!</h1>
    <a class="btn htb-button font-lg d-block w-75 mx-auto my-2" href="/battleship" role="button">Play again</a>
    <a class="btn htb-button font-lg d-block w-75 mx-auto my-2" href="/Stats" role="button">Stats</a>
    <!-- <a class="btn htb-button font-lg d-block w-75 mx-auto my-2" href="/" role="button">Back to main menu</a> -->
    <a class="btn htb-button font-md d-block w-50 mx-auto my-2" href="/aboutus" role="button">Credits</a>
  </div>
</body>

<%- include('partials/footer') %>