<%- include('partials/header') %>

<body>
  <div class="content">
    <div class="text-box">
      <h1 class="htb-title">MAIN MENU</h1>
      <div class="row mx-auto w-100 mb-2">
        <a class="btn htb-button font-xl col mr-1" href="/battleship">Single Player</a>
        <a class="btn htb-button font-xl col ml-1" href="/multiplayer">Local Multiplayer</a>
      </div>
      <div class="row mx-auto w-100 mb-2">
        <a class="btn htb-button font-lg col" href="/stats">Stats</a>
        <a class="btn htb-button font-lg col mx-2" href="/settings">Settings</a>
        <a class="btn htb-button font-lg col" href="/aboutus">About</a>
      </div>
    </div>
  </div>
  </form>
</body>

<%- include('partials/footer') %>