<%- include('partials/header') %>

<body class="center text-center">
    <div class="text-box">
        <h1>Register</h1>
        <form class="form-signin" action="/register" method="POST">
            <input name="username" type="text" id="inputUsername" class="form-control mb-2" placeholder="Enter username" required autofocus>
            <input name="email" type="email" id="inputEmail" class="form-control mb-2" placeholder="Enter email address" required>
            <input name="password" type="password" id="inputPassword" class="form-control mb-2" placeholder="Enter password" required>
            <input name="passConf" type="password" id="inputConfirmPassword" class="form-control mb-2" placeholder="Confirm password">
            
            <button class="btn btn-lg htb-button" type="submit">Confirm</button>
        </form>
        <div class="mt-2">
            <span class="font-sm">Already have an account? <a href="/login" class="htb-a">Log in</a></span>
        </div>
    </div>
</body>

<%- include('partials/footer') %>